.container {
  background-color: #cce0e0;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 9px -5px black;
  margin-bottom: 20px;
}

.category {
  background-color: #bfd6d6;
  width: 95%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 9px -5px black;
  margin-bottom: 20px;
}

.author {
  background-color: #adc4c4;
  width: 95%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 9px -5px black;
  margin-bottom: 20px;
}
