.buttonField {
  display: grid;
  grid-template-columns: 50% 50%;
}

.protocolDescription {
  display: block;
  text-align: left;
}

@media screen and (max-width: 900px) {
  .buttonField {
    display: block;
  }
}

.imgResize {
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.screenContainer {
  width: 80%;
  margin: auto;
}

.actionContainer {
  display: flex;
  justify-content: left;
}
